.ui {
  padding: 100px 36px 0 36px;
  &__title{
    font-family: 'Nekst-Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
  }
  &__buttons{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__button{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    color: $white;
    border: none;
    gap: 10px;
    background: #FF9514;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    &_hover{
      background-color: $black;
    }
  }
}